@import '../styles/theme';

.navigation {
    justify-content: space-between;
    margin: 0;

    .left-section {
        height: 100%;
        display: flex;
        align-items: center;

        .menu-btn {
            color: #fff;
            height: 2.4rem;
            width: 2.4rem;

            &:hover {
                cursor: pointer;
            }
        }

        .title {
            color: #fff;
            margin: 0 2rem;

            &:hover {
                a {
                    color: $primary;
                }
            }

            a {
                text-decoration: none;
                color: white;
            }

            .active {
                color: $primary;
            }
        }

    }

    .right-section {
        display: flex;
        align-items: center;

        a.action-btn {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            background-color: #636466;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.5rem;

            p {
                display: none;

            }

            &:hover {
                background-color: #727272;

                p {
                    color: #fff;
                    position: fixed;
                    background-color: rgba($color: #000000, $alpha: 0.8);
                    display: block;
                    text-align: center;
                    top: 3.1rem;
                    right: 20px;
                    padding: 5px;
                    border-radius: 5px;
                }
            }

            &.active {
                .notification-btn {
                    color: $primary;
                }
            }

            .notification-btn {
                color: #fff;
                height: 1.5rem;
                width: 1.5rem;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }

    .header-nav {
        display: block;
    }


}

.drawer-nav {
    height: 70%;
}

@media (max-width: 800px) {
    .navigation {
        .left-section {
            .title {
                margin: 0 1rem;
            }
        }

        .header-nav {
            display: none;
        }
    }
}

@media (max-width: 1400px) {
    .navigation {
        .right-section {
            a.action-btn:hover {
                p {
                    display: none;
                }
            }
        }
    }
}