@import '../styles/theme';

.icon {
    width: 2rem;
    height: 2rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    li {
        margin: 0 1rem;
        width: 5rem;
        height: 100%;

        p {
            padding: 0;
            margin: 0;
            display: none;
            position: fixed;
            z-index: 100;
        }

        &:hover {
            p {
                color: #fff;
                background-color: rgba($color: #000000, $alpha: 0.8);
                display: block;
                text-align: center;
                top: 4.1rem;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }

    a {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 100%;
        width: 100%;

        &.active {
            color: $primary;
        }

        &:hover {
            cursor: pointer;
            border-radius: 5px;
            background-color: #5c5c5c;

        }
    }

}

@media (max-width: 1400px) {
    .nav-links {
        li:hover {
            p {
                display: none;

            }
        }
    }
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: row;
        justify-content: space-around;

        li {
            width: 20%;

            a {
                margin: 0;
                padding: 0;

                &:hover {
                    background-color: $accent;
                }
            }
        }
    }
}