@import '../styles/theme';

.icon {
    width: 2rem;
    height: 2rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    li {
        margin: 0 1rem;
        width: 100%;
        height: 3rem;


        p {
            padding: 0;
            margin: 0 10px 0 25px;
            color: #fff;
            font-size: 1.2rem;
        }

        a {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            height: 100%;
            width: 100%;

            &.active {
                color: $primary;

                p {
                    color: $primary;
                }
            }

            &:hover {
                background-color: #5c5c5c;
                border-radius: 10px;
            }
        }

    }

}

@media (max-width: 800px) {
    .icon {
        height: 1.5rem;
        width: 1.5rem;
    }

    .nav-links {
        li {
            width: 80%;
        }
    }
}