@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.App {
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.App main {
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .App main {
    margin-bottom: 4rem;
  }
}
